<!--{% load bootstrap3 %}-->
<!--{% load i18n %}-->

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sobre o Sistema - EqLibra - Sistema Financeiro</title>

    <!-- Bootstrap Core CSS -->
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../../static/css/style-about.css" rel="stylesheet">

    <!-- Custom JS-->
    <script src="../../static/js/jquery.min.js"></script>
    <script src="../../static/js/bootstrap.min.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->

           <!-- Component responsivity-->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'login' %}">Logar no Sistema</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="about.html">Sobre o Sistema</a>
                    </li>
                    <li>
                        <a href="service.html">Serviços Oferecidos</a>
                    </li>
                    <li>
                        <a href="#">Contatos</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->

        </div>
        <!-- /.container -->
    </nav>

    <!-- Image Background Page Header -->
    <!-- Note: The background image is set within the business-casual.css file. -->
    <header class="business-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <br>
                    <center><a href="homepage.html"><img src="../../static/images/logo.png"></a></center>
                </div>
            </div>
        </div>
    </header>

    <!-- Page Content -->
    <div class="container">

        <!-- Custom Line -->
        <hr>

        <div class="row">
            <div class="col-sm-12">

                <!-- System Description -->

                <!-- Context -->
                <div class="col-lg-12">
                    <h1 class="tagline">Contexto Histórico</h1>
                </div>
                <p class="justified-text">Antes de tudo, é importante estabelecer uma breve contextualização econômica do Brasil. Após a crise financeira internacional, ocorrida em 2008, várias economias declararam um processo recessivo e uma acentuada desaceleração da atividade econômica. Diante desse cenário, o governo federal brasileiro colocou em prática um conjunto de medidas anticrise centralizadas em estimular a manutenção do gasto tanto público quanto privado. </p>

                <p class="justified-text">Assim, reforçou-se a atuação dos bancos públicos (BNDES, Banco do Brasil e Caixa Econômica Federal) no mercado de crédito doméstico. Adicionalmente, adotou-se uma política de incentivos fiscais em setores específicos da atividade econômica como, por exemplo, veículos, eletroeletrônicos, eletrodomésticos, materiais de construção etc. </p>

                <p class="justified-text">A partir desse conjunto de medidas, o mercado consumidor e o mercado de crédito responderam de maneira muita favorável. Contudo, a grande maioria do conjunto de medidas adotadas foi mantida produzindo superaquecimento da economia, além de crescimento acelerado e acentuado do endividamento do consumidor, passando de 32,2 % da renda disponível em dezembro de 2008 para 41,7 % em agosto de 2012, segundo dados do Banco Central do Brasil. Com a contemplação do aumento da inadimplência do consumidor em 2011/2012, duas deficiências estruturais do mercado de crédito brasileiro foram evidenciadas: </p>
                <p class="justified-text"> 1) a ausência de um cadastro positivo operando em sua plenitude e; </p>
                <p class="justified-text"> 2) o grau inadequado de educação financeira do brasileiro. </p>
                
                <br>
                <p class="justified-text">A ausência do cadastro positivo impossibilita que as instituições financeiras façam uma distinção eficaz entre o bom e o mau pagador e, assim, acabam concedendo crédito para consumidores que não possuem a menor capacidade de absorver volumes adicionais de compromissos financeiros. Adicionalmente, o excesso de endividamento como fator gerador da inadimplência requer a criação de ferramentas adequadas de verificação do grau de educação financeira do brasileiro. Nesse âmbito, não só o poder público, os agentes de crédito e as instituições financeiras podem desenvolver ações destinadas à resolução de problemas associados à educação financeira, mas a sociedade como um todo pode contribuir também. </p>

                <p class="justified-text">Dessa forma, surge o <b>EqLibra</b> - <i>Sistema de Gerenciamento Financeiro </i>, com o intuito de fornecer praticidade e auxílio na administração das finanças pessoais. Tendo em vista os problemas citados anteriormente, o sistema também incluirá dicas de educação financeira. </p>

                <!-- About System -->
                <div class="col-lg-12">
                    <h1 class="tagline">Sobre o Sistema</h1>
                </div>
                <p class="justified-text">O <b>EqLibra</b> - <i>Sistema de Gerenciamento Financeiro </i>, trata-se de uma solução de software, na forma de um Web Site, com o objetivo de auxiliar pessoas na gerência e controle das finanças pessoais. Nesse âmbito, considera-se desde as atividades básicas para acompanhamento do fluxo de caixa, tais como lançamentos de receitas e despesas por categoria, até simulações de investimentos para metas pessoais de vida. </p>

                <p class="justified-text">É importante ressaltar que finanças é um assunto muito importante, visto que praticamente todas as pessoas obtêm receitas, além de exercerem atividades como gastar ou investir um determinado capital. Na verdade, o gerenciamento das finanças pessoais está diretamente associado às decisões, tais como realizar investimentos ou financiamentos, por exemplo. </p>

                <p class="justified-text">A partir de todos os aspectos citados anteriormente, considera-se o como uma importante ferramenta para contribuição da organização pessoal, fomentando o senso crítico financeiro. </p>           
            </div>
            
            <!-- Members -->
            <div class="col-sm-12">
                <div class="col-lg-12">
                    <h1 class="tagline">Sobre os Desenvolvedores</h1>
                </div>
                        <br><br><div class="col-sm-3">
                            <br><center>
                            <img src="../../static/images/Modesteam.png" height="280px" alt="Responsive image" class="img-circle"><br>
                            <address>
                                <br><abbr title="Email">E-mail:</abbr> <a href="#">suporte@modesteam.com</a>
                            </address>
                            </center>
                            <h4 class="development-team">Equipe Modesteam</h4>
                        </div>
                        <div class="col-sm-9">
                            <div class="row">
                              <div class="col-sm-6 col-md-3">
                                <div class="thumbnail">
                                  <img src="../../static/images/andre.jpg" height="80px" width="130px" alt="Responsive image">
                                  <div class="caption">
                                    <center><h3>André <br> Guedes</h3></center>
                                    <p class="componet-description">Estudante de Eng. de Software da Universidade de Brasilia - FGA, membro do projeto Software Público do Ministério do Planejamento.</p>
                                    </div>
                                </div>
                              </div>
                            
                            <div class="col-sm-6 col-md-3">
                                <div class="thumbnail">
                                  <img src="../../static/images/augusto.jpg" height="80px" width="80px" alt="Responsive image">
                                  <div class="caption">
                                    <center><h3>Augusto Modesto</h3></center>
                                    <p class="componet-description">Estudante de Eng. de Software da Universidade de Brasilia - FGA, membro do projeto Modelagem de Processos do Ministério das Comunicações.</p>
                                    </div>
                                </div>
                              </div>
                            
                            <div class="col-sm-6 col-md-3">
                                <div class="thumbnail">
                                  <img src="../../static/images/jonathan.jpg" height="80px" width="130px" alt="Responsive image">
                                  <div class="caption">
                                    <center><h3>Jonathan Morais</h3></center>
                                    <p class="componet-description">Estudante de Eng. de Software da Universidade de Brasilia - FGA, scrum master do projeto Fábrica de Software do Cespe - Serpro.</p>
                                    </div>
                                </div>
                              </div>
                            
                            <div class="col-sm-6 col-md-3">
                                <div class="thumbnail">
                                  <img src="../../static/images/matheus.jpg" height="80px" width="55px" alt="Responsive image">
                                  <div class="caption">
                                    <center><h3>Matheus Ferraz</h3></center>
                                    <p class="componet-description">Estudante de Eng. de Software da Universidade de Brasilia - FGA, desenvolvedor membro do projeto Fábrica de Software do Cespe - Serpro.</p>
                                    </div>
                                </div>
                              </div>
                            </div>
                        </div>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <div class="row">

            <div class="col-lg-12">
                <h1 class="tagline">Você pode</h1>
            </div>

            <div class="col-sm-4">
                <h2>Registrar diversos Lançamentos</h2>
                <p>A partir da interface detalhadamente desenhada é possível inserir, alterar e remover as suas receitas e despesas. Além disso, fica maais fácil manter o controle sobre essas informações quando é possível gerar um relatório detalhado sobre eles.</p>
                <a href="service.html"><img class="img-circle img-responsive img-center" src="../../static/images/Propaganda01.jpg" alt=""></a>
            </div>
            <div class="col-sm-4">
                <h2>Visualizar Dicas Financeiras</h2>
                <p>Sabe aquela pulga atras da orelha quanto a um investimento ou financiamento? Pois é, com o EqLibra esse problema será ligeiramente reduzido, pois este sistema conta com um mecânismo de dicas financeiras que permite o usuário conhecer muita mais sobre o universo financeiro.</p>
                <a href="service.html"><img class="img-circle img-responsive img-center" src="../../static/images/Propaganda03.jpg" alt=""></a>
            </div>
            <div class="col-sm-4">
                <h2>Efetuar Simulações de Aquisição</h2>
                <p>Você deseja realizar algumas aquisição em um determinado tempo? Não sabe como fazer isso? Pois então a solução para seus apareceu! O EqLibra conta com um sistema de simulação financeira no qual permite você calcular diversos invertimentos do seu modo, do seu gosto!</p>
                <a href="service.html"><img class="img-circle img-responsive img-center" src="../../static/images/Propaganda02.jpg" alt=""></a>
            </div>
        </div>
        <!-- /.row -->
        <br>
        <hr>
    </div>
    <!-- /.container -->
    
    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <center>
                    <p>Copyright &copy;</p>
                    <p><b>Equipe Modesteam</b> 2015
                    <a href="https://github.com/KanJam/Finpy/wiki"><img class="img-responsive" src="../../static/images/git.png" width="40px"></a>
                    </p>
                </center>
            </div>
        </div>
        <!-- /.row -->
    </footer>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
