{% load staticfiles %}
{% load bootstrap3 %}
{% load i18n %}
<!doctype html>
<html class="no-js" lang="en">
	<head>
	    <meta charset="utf-8" />
		    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
			    {% block meta %}{% endblock meta %}
				    {% block base_title %}
					    <title>{% block title %}EqLibra{% endblock title %}</title>
					    {% endblock base_title %}

              {% bootstrap_css %}
					    {# Base Foundation CSS #}
					    {% block foundation_css %}
					    <link href="{% static "foundation/css/normalize.css" %}" rel="stylesheet"/>
					    <link href="{% static "foundation/css/foundation.min.css" %}" rel="stylesheet"/>
					    {% endblock foundation_css %}

					    {# Custom CSS #}
					    {% block css %}
              {% endblock css %}

					    {# Override if you need another version of modernizr #}
					    {% block foundation_modernizer %}
					    <script src="{% static "foundation/js/vendor/modernizr.js" %}"></script>
					    {% endblock foundation_modernizer %}

					    {# Custom head JS #}
					    {% block head_js %}
                			{%bootstrap_javascript jquery=1%}
              			{% endblock head_js %}
				</head>
				<body {% block body_attr %}{% endblock body_attr %}>
				    {# Main content goes here #}
                    {% block topbar %}
                      <nav class="top-bar" data-topbar>
                        <ul class="title-area">
                           
                          <li class="name">
                            <h1>
                              <a href="/">
                                <img src="/static/images/logo_white.png" width="15%" height="15%">
                              </a>
                            </h1>
                          </li>
                          <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
                        </ul>
                     
                        <section class="top-bar-section">
                          {% if user.is_authenticated %} 
                          <ul class="right">
                                <li class="divider"	></li>
	                                <li class="has-dropdown">
                                  <a href="#">{% trans 'Entries'%}</a>
                                  <ul class="dropdown">
                                    <li><a href="{% url 'create_entry'%}">{% trans 'New'%}</a></li>
                                    <li><a href="{% url 'list_entry'%}">{% trans 'List'%}</a></li>
                                  </ul>
                                </li>
                                <li class="divider"></li>
                                <li class="has-dropdown">
                                  <a href="#">{% trans 'Investments'%}</a>
                                  <ul class="dropdown">
                                    <li><a href="{% url 'simulate_investment'%}">{% trans 'Simulate'%}</a></li>
                                    <li><a href="{% url 'list_simulations'%}">{% trans 'List'%}</a></li>
                                  </ul>
                                </li>
                                <li class="divider"></li>
                                <li class="has-dropdown">
                                  <a href="#">{{user}}</a>
                                  <ul class="dropdown">
                                    <li><a href="{% url 'update_profile' user.userprofile.id %}">{% trans 'Personal Data' %}</a></li>
                                    <li><a href="{% url 'logout' %}">{% trans 'Logout' %}</a></li>
                                  </ul>
                                </li>
                              </ul>
                          {% else %}
                            <ul class="right">
                              <li class="divider"></li>
                              <li><a href="{% url 'signup' %}">{% trans 'Signup' %}</a></li>
                              <li class="divider"></li>
                              <li><a href="{% url 'login' %}">{% trans 'Login' %}</a></li>
                            </ul>
                          {% endif %}
                        </section>
                      </nav>
                    {% endblock %}

				    {% block base_body %}
				      <div class="row">
				     	<br>
				        <div class="large-3 panel columns">
				          <img src="/static/images/logo.png">
				            {% block tip %}
				              <h4>Importância do controle de finanças</h4>
				     
				              <p>Fazendo um bom diagnóstico da sua vida financeira, você poderá saber onde está gastando mais, para cortar despesas desnecessárias e dar um destino adequado ao dinheiro que sobra em caixa.</p><hr>
				            {% endblock %}
				        </div>
				     
				        <div class="large-9 columns">
				          <div class="panel">
				            <div class="row">
				              	<div class="large-12 columns">
                      				{% block content %}
                      				{% endblock %}
                      			</div>
				            </div>
				          </div>
				        </div>
				      </div>
				      <footer class="row">
				      <div class="large-12 columns"><hr/>
				            <center><img src="/static/images/footer.png"></center>
				      </div>
				      </footer>
				    {% endblock base_body %}

				    {# Override if you need another version of jQuery #}
				    {% block foundation_jquery %}
				    <script src="{% static "foundation/js/vendor/jquery.js" %}"></script>
				    {% endblock foundation_jquery %}

				    {# Foundation JS #}
				    {% block foundation_js %}
				    <script src="{% static "foundation/js/foundation.min.js" %}"></script>
				    {% endblock foundation_js %}

				    {# Custom JS #}
				    {% block body_js %}
              <script src="{% static "js/confirm_with_reveal.js" %}"></script>
            {% endblock body_js %}

				    {# Init Foundation #}
				    {% block foundation_js_init %}
				    <script>
				        $(document).foundation();
                		$(document).confirmWithReveal({
                	title: "{% trans 'Are you sure?' %}",
                	body: "{% trans 'This action cannot be undone.' %}",
                	ok: "{% trans 'Confirm'%}",
  					cancel: "{% trans 'Cancel' %}"
				});
				    </script>
				    {% endblock foundation_js_init %}
	</body>
</html>
