<!DOCTYPE html>
{% load bootstrap3 %}
{% load i18n %}

<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" media="all" href="/static/css/style.css">
    {%bootstrap_css%}
    {%bootstrap_javascript jquery=1%}
    <title>{% block title %}My amazing site{% endblock %}</title>
</head>

<body>
  <div id="topbar">
    <p class="left logo">Eq<font color="lightgreen">Libra</font></p>
    {% if user.is_authenticated %}
    <p class="right">{% trans 'Logged in as: '%}{{user}}! <a class="whitelink" href="{% url 'logout' %}">Logout</a></p>
    {% endif %}
  </div>
  <section id="body">
    <div id="sidebar">
        {% block sidebar %}
        <ul>
          {% if user.is_authenticated %}
            <li><a class="whitelink" href="{% url 'index' %}">{% trans 'Home' %}</a></li>
            <li><a class="whitelink" href="{% url 'update_profile' user.userprofile.id %}">{% trans 'Personal Data' %}</a></li>
          {% else %}
            <li><a class="whitelink" href="{% url 'login' %}">{% trans 'Log in' %}</a></li>
            <li><a class="whitelink" href="{% url 'signup' %}">{% trans 'Signup' %}</a></li>
          {% endif %}
        </ul>
        {% endblock %}
    </div>

    <div id="content" class="content">
        {% block content %}{% endblock %}
    </div>
  </section>
</body>
</html>
