{% load bootstrap3 %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>EqLibra - Login</title>

    <!-- Bootstrap Core CSS -->
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../../static/css/style-login.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

  <!-- Page Content -->
  <div class="container">
    
    <!-- Row Login -->
    <div class="row" id="pwd-container">
      
      <!-- Not Used -->
      <div class="col-md-4"></div>
      
      <!-- Centralized Grid -->
      <div class="col-md-4">
        <section class="login-form">
          
          <!-- Form -->
          <form method="post" action="{% url 'django.contrib.auth.views.login' %}" role="login">
            
            <!-- User Name 
            <img src="../../static/images/logoModificar.png" class="img-responsive" alt="logoLogin" />
            <input type="email" name="email" placeholder="Email" required class="form-control input-lg" value="" />
            
            <!-- Password 
            <input type="password" class="form-control input-lg" id="password" placeholder="Password" required="" />
            <div class="pwstrength_viewport_progress"></div>
            
            <!-- Submit -->
            {% csrf_token %}
            {% bootstrap_form form %}
            <button type="submit" name="go" class="btn btn-lg btn-primary btn-block">Entrar</button>
            <input type="hidden" name="next" value="{{ next }}" />
            <div>
              <a href="{% url 'signup' %}">Criar uma Conta</a> or <a href="{% url 'password_reset' %}">Recuperar minha Senha</a>
            </div>
          </form>
          <!-- /.Form -->
          
          <!-- HomePage Return -->
          <div class="form-links">
            <a href="{% url 'index' %}">Home</a>
          </div>
        </section>
        <!-- /.Section -->
      </div>
      
      <!-- Not Used -->
      <div class="col-md-4"></div>
    
    </div>
    <!-- /.Row -->

  </div>
  <!-- /.Container -->
</body>

</html>
