{% extends "Finpy/base.html" %}

{% load bootstrap3 %}
{% load i18n %}

{% block content %}
<div id="container">
{% for simulation in simulations reversed%}
  
  <div class="large-12 columns">
  <div class="row">
    <div class="large-12 panel columns" style="text-align: center;">
      <table class="responsive">
        <thead>
          <tr>
            <td>Tipo de Simulação:</td>
            <td>{{simulation.result_to_discover}}</td>
          </tr>
          <tr>
            <td>Período</td>
            <td>Valor</td>
          </tr>
        </thead>
        <tbody>
          {% for value in simulation.calculate_investment %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ value|floatformat:2 }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
  </div>
  </div>
</div>
  <br>
{% endfor %}

</div>

{% endblock %}