section#body{
  width:  90%;margin: 0 auto;
  margin: auto;
  min-width: 700px;
  clear: both;
}

.left{
  text-align: left;
  float:  left;
}

.logo{
  font-size: 35px;
}

.right{
  text-align: right;
}

.center{
  text-align: center;
}

a.whitelink{
  color: #FFF;
  font-weight: bold;
}

a.whitelink:hover{
  color: #FF6;
}

a.mainlink{
  color: #000;
}

div#topbar{
  font-weight: bold;
  text-shadow: 0px 0px 5px #000;
  color: white;
  width: 90%;margin: 0 auto;
  text-align: center;
  vertical-align: middle;
  height: 50px;
  margin-top: 5px;
  padding-top: 1px;
  padding-left: 20px;
  padding-right: 20px;
  min-width: 720px;
  box-shadow: 2px 2px 2px #333;
  position: relative;
  line-height: 50px;
  background: #6ec86e; /* Old browsers */
  background: -moz-linear-gradient(top,  #6ec86e 0%, #8cd28c 99%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6ec86e), color-stop(99%,#8cd28c)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #6ec86e 0%,#8cd28c 99%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #6ec86e 0%,#8cd28c 99%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #6ec86e 0%,#8cd28c 99%); /* IE10+ */
  background: linear-gradient(to bottom,  #6ec86e 0%,#8cd28c 99%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6ec86e', endColorstr='#8cd28c',GradientType=0 ); /* IE6-9 */
}

div#bottombar{
  font-weight: bold;
  text-shadow: 0px 0px 5px #000;
  color: white;
  width: 90%;margin: 0 auto;
  text-align: center;
  vertical-align: middle;
  height: 30px;
  margin-top: 5px;
  padding-top: 1px;
  padding-left: 20px;
  padding-right: 20px;
  min-width: 720px;
  box-shadow: 2px 2px 2px #333;
  position: relative;
  line-height: 30px;
  background: #6e966e; /* Old browsers */
  background: -moz-linear-gradient(top,  #6e966e 0%, #8c968c 99%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6e966e), color-stop(99%,#8c968c)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #6e966e 0%,#8c968c 99%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #6e966e 0%,#8c968c 99%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #6e966e 0%,#8c968c 99%); /* IE10+ */
  background: linear-gradient(to bottom,  #6e966e 0%,#8c968c 99%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6e966e', endColorstr='#8c968c',GradientType=0 ); /* IE6-9 */
}

div#sidebar{
  float: left;
  background-color: #DFE5FF;
  border-radius: 15px;
  border-style: solid;
  border-width: 1px;  
  width: 15%;
  min-height: 600px;
  padding: 20px;
}

div#content{
  background: #FFF;
  border-radius: 15px;
  border-style: solid;
  border-width: 1px;  
  min-height: 600px;
  padding: 10px;
}

div#container{
  width: 50%;
  margin: 0 auto;
}
