{% extends "Finpy/base.html" %}

{% load bootstrap3 %}
{% load i18n %}

{% block content %}
<div id="container">
{% for entry in entries %}
  
  <div class="large-12 columns">
  <div class="row">
    <div class="large-12 panel columns">
    <div class="large-6 columns">
    <h3>{{ entry.entry_source }}</h3>{% trans 'Type'%}: {{entry.entry_type}}<p class ="right">{% trans 'Value'%}: {{entry.entry_value}}</p>
    </div>
    <div class="large-6 columns" style="text-align: center;">
      <a href="{% url 'update_entry' entry.id %}" class="btn btn-primary">
        {% bootstrap_icon "pencil" %} {% trans 'Edit' %}
      </a>
      <a href="{% url 'delete_entry' entry.id %}" class="btn btn-primary" data-confirm>
        {% bootstrap_icon "erase" %} {% trans 'Delete' %}
      </a>
    </div>
  </div>
  </div>
</div>
  <br>
{% endfor %}

</div>

{% endblock %}
